body{
  background: #888888;
  position: relative;
  padding-bottom: 60px;
}
#mainDiv{
  width: 70%;
  margin: auto;
}
h2{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
/*span class to enlarge text*/
.enlarge{
  font-size: 22px;
}

/*Navbar*/
.navbar{
  background: #676561;
  border: none;
}
.nav a{
  color: #88BBD6;
}

/*Header section*/
#headerDiv{
  background: #88BBD6;
  margin-top: 51px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#introText{
  text-align: center;
  margin: 2% 0 2% 0;
}
#profilePic{
  border: solid 2px none;
  border-radius: 200px;
  height: 150px;
  margin: 4% 0 4% 0;
  float: right;
}

/*Portfolio Section*/
#portDiv{
  margin-bottom: 10px;
}
.portTitle h1{
  display: inline
}
.portSection{
  display: none;
  height: 350px;
}
.portSection *{
  display: none;
}
.screenshot{
  height: 375px;
  float: left;
  margin-right: 20px;
}
.arrows{
  display: inline-block;
  float: right;
  height: 40px;
}
.up{
  display: none;
}


/*About Me section*/
#aboutDiv{
  background: #88BBD6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#aboutDiv ul{
  list-style-type: circle;
}
#aboutDiv li{
  margin: 3px 0;
}

/*Contact Me*/
#contactDiv{
  margin: auto;
  width: 90%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
form{
  width: 90%;
}
form *{
  margin-top: 20px;
  width: 90%;
  height: 40px;
  border-radius: 10px;
}
#msgform{
  height: 150px;
}
button{
  width: 20%;
  font-size: 16px;
  font-weight: bold;
  background: #88BBD6;
  border: none;
}
#contactDiv p{
  font-size: 18px;
}
#contactDiv img{
  margin-top: 20px;
  height: 80px;
}

/*Footer*/
footer{
  background: #676561;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 50px;
  text-align: center;
  padding-top: 17px;
}
