body{
  background: black;
  position: relative;
  padding-bottom: 50px;
  color: #dfdfdf;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}
body a{
  color: white;
  text-decoration: underline;
}
h2{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/*Navbar*/
.navbar{
  background:black;
}

/*Splash section*/
#splashDiv{
  margin-top: 50px;
  /*background-image: url("../img/seattle_wp.jpg");*/
  background-image: url("http://i.imgur.com/PYcBJOo.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
#subSplash{
  display: none;
  background: black;
  opacity: .8;
  float: right;
  width: 400px;
  height: 700px;
  z-index: 1;
  text-align: center;
}
#subSplash h1{
  font-size: 2.5em;
  font-weight: 800;
  margin-top: 60%;
  display: none;
}
#subSplash h4{
  display: none;
}

/*About Me section*/
#aboutDiv{
  background: #212121;
  padding: 0px 90px 20px 90px;
}
#introText h1{
  text-align: center;
  font-size: 3.5em;
  margin-top: 15%;
}
#profilePic{
  border-radius: 200px;
  height: 150px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
#aboutDiv ul{
  list-style-type: circle;
}
#aboutDiv li{
  margin: 3px 0;
}

/*Portfolio Section*/
#portDiv{
  margin-bottom: 10px;
  min-height: 800px; /*test*/
  padding: 30px 90px 0px 90px;
  position: relative;
}
.portRow{
  margin-top: 20px;
}
.portEntry{
  min-width: 650px;
}
.portTitle{
  margin: 5px 0px 10px 0px;s
}
.portTitle h1{
  display: inline
}
.portSection{
  min-height: 300px;
  margin-bottom: 10px;
}
.border{
  height: 5px;
  border-bottom: solid 2px white;
}
.screenshot{
  height: 200px;
  max-width: 322px;
  float: left;
  margin: 5% 20px 30px 0px;
}
.arrows{
  display: inline;
  float: right;
  height: 30px;
  margin-right: 20px;
}
.down{
  display: none;
}

/*Contact Me*/
#contactDiv{
  padding: 0px 120px 20px 120px;
  background: #212121;
}
#contactDiv p{
  font-size: 1.2em;
}
#contactDiv img{
  margin-top: 20px;
  height: 80px;
}
form{
  width: 90%;
}
form input,textarea{
  padding-left: 15px;
  color: black;
}
form *{
  margin-top: 20px;
  width: 90%;
  height: 40px;
  border-radius: 10px;
}
#msgform{
  height: 150px;
}
button{
  width: 120px;
  font-size: 16px;
  font-weight: bold;
  background: black;
  color: white;
  border: none;
  border-radius: 0px;
}
#formContainer{
  margin: auto;
  min-width: 300px;
  width: 50%;
}
#formContainer form :not(button, input::placeholder) {
  text-align: center;
}
#formContainer img {
  text-align: center;
}
#socialDiv {
  text-align: center;
}
#socialDiv a {
  margin: 0px 5px 0px 5px;
}

/*Footer*/
footer{
  background: #676561;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 50px;
  text-align: center;
  padding-top: 17px;
}



.portBox{
  height: 200px;
  background: grey;
  border-radius: 20px;
  margin: 15px;
}
.clicked{
  top: 30;
  left: 75;
  position: absolute;
}
