body{
  background: #888888;
  position: relative;
  padding-bottom: 60px;
}
#mainDiv{
  width: 70%;
  margin: auto;
}

/*Navbar*/
.navbar{
  background: #676561;
  border: none;
}
.nav a{/*header text color wont change*/
  color: #88BBD6;
}

/*Header section*/
#headerDiv{
  background: #88BBD6;
  margin-top: 51px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#introText{
  text-align: center;
  margin: 2% 0 2% 0;
}
#profilePic{
  border: solid 2px none;
  border-radius: 200px;
  height: 150px;
  margin: 4% 0 4% 0;
  float: right;
}

/*Portfolio Section*/
#portDiv{
  margin: auto;
  margin-bottom: 2%;
  width: 90%;
}
#portDiv h2{
  text-align: center;
  margin-bottom: 20px;
}
.portItem img{
  float: left;
}

/*About Me section*/
#aboutDiv{
  background: #88BBD6;
}
#aboutDiv h2{
  text-align: center;
}
#aboutDiv ul{
  list-style-type: circle;
}
#aboutDiv li{
  margin: 3px 0;
}

/*Footer*/
footer{
  background: #676561;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 50px;
  text-align: center;
  padding-top: 17px;
}
